<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sql</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sql.icns</string>
			<key>CFBundleTypeName</key>
			<string>pgAdmin3 SQL Query</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.postgresql.pgadmin.sql</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>pgAdmin3</string>
	<key>CFBundleGetInfoString</key>
	<string>pgAdmin3 1.4</string>
	<key>CFBundleIconFile</key>
	<string>pgAdmin3.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.postgresql.pgadmin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.4</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.utf8-plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>pgAdmin3 SQL Query</string>
			<key>UTTypeIconFile</key>
			<string>sql.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.postgresql.pgadmin.sql</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sql</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
