# Global excludes across all subdirectories
*.o
*.pngc
*.app
*.rej
*.deps
Makefile.in
aclocal.m4
autom4te.cache
config
config.h
config.h.in
config.log
config.status
configure
configure.ac
Makefile
stamp-h1
