# Global excludes across all subdirectories
*.o
*.app
*.rej
*.deps
*.pngc
*.ncb
*.suo
*.user
*.msi
*.wixobj
*.wixpdb
*.chm
*.tmp
*.dirstamp
.DS_Store
BuildLog.htm
Makefile.in
aclocal.m4
autom4te.cache
config
config.h
config.h.in
config.log
config.status
configure
configure.ac
Makefile
stamp-h1
.dirstamp
cscope.out
cscope.files
tags
