Source: pgadmin3
Section: misc
Priority: optional
Maintainer: Raphael Enrici <blacknoz@club-internet.fr>
Build-Depends: debhelper (>= 4.1.0), postgresql-dev (>=7.3), devscripts, pgadmin3-libwxgtk2ud2.6, automake1.9, autoconf
Standards-Version: 3.6.1

Package: pgadmin3
Architecture: any
Depends: pgadmin3-data (= ${Source-Version}), ${shlibs:Depends}
Description: Graphical administration tool for PostgreSQL
 pgAdmin III is a database design and management application for use with 
 PostgreSQL. It is written in C++ using the wxWidgets (http://www.wxwidgets.org)
 cross-platform framework to allow it to run on multiple platforms.
 .
 Homepage: http://www.pgadmin.org/

Package: pgadmin3-data
Architecture: all
Depends: pgadmin3 (= ${Source-Version})
Conflicts: pgadmin3 (<< 1.0.2-1)
Replaces: pgadmin3 (<< 1.0.2-1)
Description: Graphical administration tool for PostgreSQL - documentation
 pgAdmin III is a database design and management application for use with 
 PostgreSQL. It is written in C++ using the wxWidgets (http://www.wxwidgets.org)
 cross-platform framework to allow it to run on multiple platforms.
 .
 This package contains the documentation for pgAdmin III in English language.
 This package is mandatory to get the pgAdmin III help system to run smoothly.
 .
 Homepage: http://www.pgadmin.org/
