BODY
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    COLOR:black;
    FONT-FAMILY: verdana, helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
}

th
{ 
    COLOR: #ffffff;
    BACKGROUND-COLOR: #6884a4;
    TEXT-DECORATION: none;
    FONT-WEIGHT: 600;
    FONT-FAMILY: verdana, helvetica, sans-serif;
    FONT-SIZE: 13px; 
    TEXT-ALIGN: left;
}

td
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: black;
    FONT-FAMILY: verdana, helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
}

p, li, ul, ol, center, dt, dd, dl
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: black;
    FONT-FAMILY: verdana, helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
}

#TablePar
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: black;
    FONT-FAMILY: verdana, helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
}

#WhiteTablePar
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: black;
    FONT-FAMILY: verdana, helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
}

.fixed
{
    FONT-FAMILY: "Courier New", Courier, monospace;
    FONT-SIZE: 12px;
    WHITE-SPACE: pre;
}

pre.screen
{
    FONT-FAMILY: "Courier New", Courier, monospace;
    FONT-SIZE: 12px;
    BORDER: solid 1px #330033;
	PADDING: 8px;
	BACKGROUND-COLOR: #EEEEEE;
	LINE-HEIGHT: 1.2em;
}

.command
{
    FONT-FAMILY: "Courier New", Courier, monospace;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    WHITE-SPACE: pre;
}

code
{
    FONT-FAMILY: "Courier New", Courier, monospace;
    FONT-SIZE: 12px;
}
