//////////////////////////////////////////////////////////////////////////
//
// pgAdmin III - PostgreSQL Tools
// Copyright (C) 2002, The pgAdmin Development Team
// This software is released under the pgAdmin Public Licence
//
// pgAdmin3.rc - Resources
//
//////////////////////////////////////////////////////////////////////////

#include <wx/msw/wx.rc>

// Icons
PGADMIN3      ICON    DISCARDABLE     "../include/images/pgAdmin3.ico"
