//////////////////////////////////////////////////////////////////////////
//
// pgAdmin III - PostgreSQL Tools
// Copyright (C) 2002, The pgAdmin Development Team
// This software is released under the pgAdmin Public Licence
//
// pgAdmin3.rc - Resources
//
//////////////////////////////////////////////////////////////////////////

#include <wx/msw/wx.rc>

images/pgAdmin3.xpm          ICON        "../images/pgAdmin3.ico"
images/connect.xpm	     ICON	 "../images/connect.ico"
images/refresh.xpm	     ICON	 "../images/refresh.ico"
images/create.xpm	     ICON	 "../images/create.ico"
images/drop.xpm		     ICON	 "../images/drop.ico"
images/properties.xpm	     ICON	 "../images/properties.ico"
images/sql.xpm		     ICON	 "../images/sql.ico"
images/viewdata.xpm	     ICON	 "../images/viewdata.ico"
images/vacuum.xpm	     ICON	 "../images/vacuum.ico"
images/record.xpm	     ICON	 "../images/record.ico"
images/stop.xpm		     ICON	 "../images/stop.ico"
