//////////////////////////////////////////////////////////////////////////
//
// pgAdmin III - PostgreSQL Tools
// 
// Copyright (C) 2002 - 2016, The pgAdmin Development Team
// This software is released under the PostgreSQL Licence
//
// pgAdmin3.rc - win32 Resources
//
//////////////////////////////////////////////////////////////////////////

#if defined(_WIN32_WCE)
#undef _WIN32_WCE
#endif

#include <wx/msw/wx.rc>
#include <winver.h>
#include "include/version.h"
#include "include/copyright.h"

// Icon (Don't remove the aaa prefix - it makes it the default icon!)
aaaPGADMIN3      ICON    DISCARDABLE     "include/images/pgAdmin3.ico"
SQL              ICON    DISCARDABLE     "include/images/sql.ico"

VS_VERSION_INFO VERSIONINFO 
FILEVERSION    VERSION_NUM
PRODUCTVERSION VERSION_NUM
FILEFLAGSMASK  VER_DEBUG|VER_PRERELEASE
FILEFLAGS      VER_DEBUG|VER_PRERELEASE
FILEOS         VOS__WINDOWS32
FILETYPE       VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN 
            VALUE "FileVersion",     VERSION_STR, "\0"
            VALUE "File Version",    VERSION_STR, "\0"
            VALUE "FileDescription", "pgAdmin III - PostgreSQL Tools", "\0"
            VALUE "LegalCopyright",  COPYRIGHT_WIN32, "\0"
            VALUE "LegalTrademarks", LICENSE, "\0"
            VALUE "InternalName",    "pgadmin3", "\0"
            VALUE "OriginalFilename","pgadmin3.exe", "\0"
            VALUE "ProductName",     "pgAdmin III", "\0"
            VALUE "ProductVersion",  VERSION_STR, "\0"
#ifdef BUILD
            VALUE "Build",           BUILD, "\0"
#endif
        END 
    END
    BLOCK "VarFileInfo" 
    BEGIN 
        VALUE "Translation", 0x0409, 0x04E4
    END 
END 

