<?xml version="1.0" encoding="UTF-8" ?>
<Include>

<!-- <Directory Id="i18n_af_ZA" Name="af_ZA">
        <Component Id="i18n_af_ZA" Guid="{290EA7FE-4411-42E1-B74A-9F8A15595EB8}">
            <File Id="i18n_af_ZA.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/af_ZA/pgadmin3.mo" />
            <File Id="i18n_af_ZA.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/af_ZA/wxstd.mo" />
        </Component>
    </Directory> -->
<!--    <Directory Id="i18n_ar_SA" Name="ar_SA">
        <Component Id="i18n_ar_SA" Guid="{C5C25275-5BC8-4221-A74C-FC5D78DC4C68}">
            <File Id="i18n_ar_SA.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/ar_SA/pgadmin3.mo" />
            <File Id="i18n_ar_SA.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/ar_SA/wxstd.mo" />
        </Component>
    </Directory> -->
<!--    <Directory Id="i18n_bg_BG" Name="bg_BG">
        <Component Id="i18n_bg_BG" Guid="{B7E2B84A-19FA-4FF0-96B0-A10C2A964913}">
            <File Id="i18n_bg_BG.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/bg_BG/pgadmin3.mo" />
            <File Id="i18n_bg_BG.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/bg_BG/wxstd.mo" />
        </Component>
    </Directory> -->
    <Directory Id="i18n_ca_ES" Name="ca_ES">
        <Component Id="i18n_ca_ES" Guid="{9BA8D184-22A2-4AD2-BAEF-3B4C0AE8B240}">
            <File Id="i18n_ca_ES.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/ca_ES/pgadmin3.mo" />
            <File Id="i18n_ca_ES.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/ca_ES/wxstd.mo" />
        </Component>
    </Directory>
    <Directory Id="i18n_cs_CZ" Name="cs_CZ">
        <Component Id="i18n_cs_CZ" Guid="{01501865-555B-4817-B279-762DBB778378}">
            <File Id="i18n_cs_CZ.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/cs_CZ/pgadmin3.mo" />
            <File Id="i18n_cs_CZ.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/cs_CZ/wxstd.mo" />
        </Component>
    </Directory>
<!--    <Directory Id="i18n_da_DK" Name="da_DK">
        <Component Id="i18n_da_DK" Guid="{134DD41F-F10C-4B6D-AF8C-62CABB0C5C60}">
            <File Id="i18n_da_DK.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/da_DK/pgadmin3.mo" />
            <File Id="i18n_da_DK.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/da_DK/wxstd.mo" />
        </Component>
    </Directory> --> 
    <Directory Id="i18n_de_DE" Name="de_DE">
        <Component Id="i18n_de_DE" Guid="{25FE87C9-0CC2-42D9-811A-C34B46396D8A}">
            <File Id="i18n_de_DE.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/de_DE/pgadmin3.mo" />
            <File Id="i18n_de_DE.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/de_DE/wxstd.mo" />
        </Component>
    </Directory>
<!--    <Directory Id="i18n_el_GR" Name="el_GR">
        <Component Id="i18n_el_GR" Guid="{B0868673-876C-475F-8A9D-1714ACF2B18D}">
            <File Id="i18n_el_GR.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/el_GR/pgadmin3.mo" />
            <File Id="i18n_el_GR.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/el_GR/wxstd.mo" />
        </Component>
    </Directory> -->
    <Directory Id="i18n_es_ES" Name="es_ES">
        <Component Id="i18n_es_ES" Guid="{4DBFEE38-428A-4578-A00C-7797F030B9F3}">
            <File Id="i18n_es_ES.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/es_ES/pgadmin3.mo" />
            <File Id="i18n_es_ES.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/es_ES/wxstd.mo" />
        </Component>
    </Directory>
    <!-- <Directory Id="i18n_fi_FI" Name="fi_FI">
        <Component Id="i18n_fi_FI" Guid="{D674562A-587B-4A6E-8BAC-5BEF78D9C9EA}">
            <File Id="i18n_fi_FI.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/fi_FI/pgadmin3.mo" />
            <File Id="i18n_fi_FI.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/fi_FI/wxstd.mo" />
        </Component>
    </Directory> -->
    <Directory Id="i18n_fr_FR" Name="fr_FR">
        <Component Id="i18n_fr_FR" Guid="{AA2AE7F6-20ED-4846-9770-6852DBDA7E27}">
            <File Id="i18n_fr_FR.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/fr_FR/pgadmin3.mo" />
            <File Id="i18n_fr_FR.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/fr_FR/wxstd.mo" />
        </Component>
    </Directory>
    <!-- <Directory Id="i18n_gl_ES" Name="gl_ES">
        <Component Id="i18n_gl_ES" Guid="{74C2F505-97F8-41A8-B82D-BA3952D4736B}">
            <File Id="i18n_gl_ES.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/gl_ES/pgadmin3.mo" />
            <File Id="i18n_gl_ES.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/gl_ES/wxstd.mo" />
        </Component>
    </Directory> -->
<!--    <Directory Id="i18n_hu_HU" Name="hu_HU">
        <Component Id="i18n_hu_HU" Guid="{31548661-42E1-4ADF-8497-CB81D4925835}">
            <File Id="i18n_hu_HU.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/hu_HU/pgadmin3.mo" />
            <File Id="i18n_hu_HU.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/hu_HU/wxstd.mo" />
        </Component>
    </Directory> -->
<!--    <Directory Id="i18n_id_ID" Name="id_ID">
        <Component Id="i18n_id_ID" Guid="{F7732CA1-FB3D-4F25-A38F-0C43F5452879}">
            <File Id="i18n_id_ID.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/id_ID/pgadmin3.mo" />
            <File Id="i18n_id_ID.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/id_ID/wxstd.mo" />
        </Component>
    </Directory> -->
<!--    <Directory Id="i18n_it_IT" Name="it_IT">
        <Component Id="i18n_it_IT" Guid="{FBD58987-2BD7-4BFC-B9A0-AEF073A5BD9C}">
            <File Id="i18n_it_IT.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/it_IT/pgadmin3.mo" />
            <File Id="i18n_it_IT.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/it_IT/wxstd.mo" />
        </Component>
    </Directory> -->
    <Directory Id="i18n_ja_JP" Name="ja_JP">
        <Component Id="i18n_ja_JP" Guid="{6EA331D4-F999-4039-B28F-396C2110842A}">
            <File Id="i18n_ja_JP.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/ja_JP/pgadmin3.mo" />
            <File Id="i18n_ja_JP.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/ja_JP/wxstd.mo" />
        </Component>
    </Directory>
    <Directory Id="i18n_lv_LV" Name="lv_LV">
        <Component Id="i18n_lv_LV" Guid="{BA4B45EF-14A1-4D9A-8B71-171FE6AB2D57}">
            <File Id="i18n_lv_LV.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/lv_LV/pgadmin3.mo" />
            <File Id="i18n_lv_LV.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/lv_LV/wxstd.mo" />
        </Component>
    </Directory>
<!--    <Directory Id="i18n_ko_KR" Name="ko_KR">
        <Component Id="i18n_ko_KR" Guid="{A6712C99-87D5-4FE8-9AC1-BBC27FCD68C7}">
            <File Id="i18n_ko_KR.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/ko_KR/pgadmin3.mo" />
            <File Id="i18n_ko_KR.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/ko_KR/wxstd.mo" />
        </Component>
    </Directory> -->
    <!-- <Directory Id="i18n_nl_NL" Name="nl_NL">
        <Component Id="i18n_nl_NL" Guid="{4A30094F-838D-4971-971E-630EA4269721}">
            <File Id="i18n_nl_NL.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/nl_NL/pgadmin3.mo" />
            <File Id="i18n_nl_NL.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/nl_NL/wxstd.mo" />
        </Component>
    </Directory> -->
    <Directory Id="i18n_pl_PL" Name="pl_PL">
        <Component Id="i18n_pl_PL" Guid="{3AB4C93E-E7EC-44A6-9091-0609AE6981AA}">
            <File Id="i18n_pl_PL.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/pl_PL/pgadmin3.mo" />
            <File Id="i18n_pl_PL.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/pl_PL/wxstd.mo" />
        </Component>
    </Directory>
    <!-- <Directory Id="i18n_pt_BR" Name="pt_BR">
        <Component Id="i18n_pt_BR" Guid="{4C4DC693-CBD9-4EBE-AF17-750BD5713D64}">
            <File Id="i18n_pt_BR.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/pt_BR/pgadmin3.mo" />
            <File Id="i18n_pt_BR.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/pt_BR/wxstd.mo" />
        </Component>
    </Directory> -->
<!--    <Directory Id="i18n_pt_PT" Name="pt_PT">
        <Component Id="i18n_pt_PT" Guid="{28F5AB0E-E3A7-4ABC-B7B4-ADD6EAD9A411}">
            <File Id="i18n_pt_PT.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/pt_PT/pgadmin3.mo" />
            <File Id="i18n_pt_PT.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/pt_PT/wxstd.mo" />
        </Component>
    </Directory> -->
    <Directory Id="i18n_ru_RU" Name="ru_RU">
        <Component Id="i18n_ru_RU" Guid="{4DB742FD-7DDD-4902-9C39-65E76F515406}">
            <File Id="i18n_ru_RU.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/ru_RU/pgadmin3.mo" />
            <File Id="i18n_ru_RU.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/ru_RU/wxstd.mo" />
        </Component>
    </Directory>
<!--    <Directory Id="i18n_sk_SK" Name="sk_SK">
        <Component Id="i18n_sk_SK" Guid="{EDF31E6A-DA51-4462-AE26-519E9A3C80EB}">
            <File Id="i18n_sk_SK.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/sk_SK/pgadmin3.mo" />
            <File Id="i18n_sk_SK.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/sk_SK/wxstd.mo" />
        </Component>
    </Directory> -->
<!--    <Directory Id="i18n_sl_SI" Name="sl_SI">
        <Component Id="i18n_sl_SI" Guid="{68047F75-F49F-4CFB-81D8-124DA6646165}">
            <File Id="i18n_sl_SI.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/sl_SI/pgadmin3.mo" />
            <File Id="i18n_sl_SI.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/sl_SI/wxstd.mo" />
        </Component>
    </Directory> -->
    <Directory Id="i18n_sr_RS" Name="sr_RS">
        <Component Id="i18n_sr_RS" Guid="{BD45E273-008B-436C-8682-3B18BE7F194F}">
            <File Id="i18n_sr_RS.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/sr_RS/pgadmin3.mo" />
            <File Id="i18n_sr_RS.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/sr_RS/wxstd.mo" />
        </Component>
    </Directory>
<!--    <Directory Id="i18n_tr_TR" Name="tr_TR">
        <Component Id="i18n_tr_TR" Guid="{CED80D52-3130-4F09-89DD-14B62332C29A}">
            <File Id="i18n_tr_TR.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/tr_TR/pgadmin3.mo" />
            <File Id="i18n_tr_TR.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/tr_TR/wxstd.mo" />
        </Component>
    </Directory> -->
    <Directory Id="i18n_zh_CN" Name="zh_CN">
        <Component Id="i18n_zh_CN" Guid="{8A17BA92-7981-4F9B-81CC-FE4C6B99F210}">
            <File Id="i18n_zh_CN.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/zh_CN/pgadmin3.mo" />
            <File Id="i18n_zh_CN.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/zh_CN/wxstd.mo" />
        </Component>
    </Directory>
<!--    <Directory Id="i18n_zh_TW" Name="zh_TW">
        <Component Id="i18n_zh_TW" Guid="{18BEFA3E-2226-42FE-A653-E7EE73EEC23B}">
            <File Id="i18n_zh_TW.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/zh_TW/pgadmin3.mo" />
            <File Id="i18n_zh_TW.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/zh_TW/wxstd.mo" />
        </Component>
    </Directory> -->

</Include>
