<?xml version="1.0" encoding="UTF-8" ?>
<Include>
<!--    <ComponentRef Id="i18n_af_ZA" /> -->
<!--    <ComponentRef Id="i18n_ar_SA" /> -->
    <ComponentRef Id="i18n_bg_BG" />
    <ComponentRef Id="i18n_ca_ES" />
<!--    <ComponentRef Id="i18n_da_DK" /> -->
<!--    <ComponentRef Id="i18n_de_DE" /> -->
<!--    <ComponentRef Id="i18n_el_GR" /> -->
    <ComponentRef Id="i18n_es_ES" />
    <ComponentRef Id="i18n_fi_FI" />
    <ComponentRef Id="i18n_fr_FR" />
<!--    <ComponentRef Id="i18n_hu_HU" /> -->
<!--    <ComponentRef Id="i18n_id_ID" /> -->
    <ComponentRef Id="i18n_it_IT" />
    <ComponentRef Id="i18n_ja_JP" />
<!--    <ComponentRef Id="i18n_lv_LV" /> -->
    <ComponentRef Id="i18n_nl_NL" />
    <ComponentRef Id="i18n_pl_PL" />
<!--    <ComponentRef Id="i18n_pt_PT" /> -->
<!--    <ComponentRef Id="i18n_ru_RU" /> -->
<!--    <ComponentRef Id="i18n_sk_SK" /> -->
<!--    <ComponentRef Id="i18n_sl_SI" /> -->
<!--    <ComponentRef Id="i18n_sr_YU" /> -->
<!--    <ComponentRef Id="i18n_tr_TR" /> -->
<!--    <ComponentRef Id="i18n_zh_CN" /> -->
<!--    <ComponentRef Id="i18n_zh_TW" /> -->
</Include>
