<?xml version="1.0" encoding="UTF-8" ?>
<Include>

    <Directory Id="i18n_af_ZA" Name="af_ZA">
        <Component Id="i18n_af_ZA" Guid="D57117B0-4064-44A2-A608-1E50F30FD31B">
            <File Id="i18n_af_ZA.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/af_ZA/pgadmin3.mo" />
            <File Id="i18n_af_ZA.wxstd.mo" Name="wxstd.mo" DiskId="1" src="../../i18n/af_ZA/wxstd.mo" />
        </Component>
    </Directory>
    <Directory Id="i18n_ar_SA" Name="ar_SA">
        <Component Id="i18n_ar_SA" Guid="14C88EB2-9ABA-42A0-9935-8B078C1AFDFE">
            <File Id="i18n_ar_SA.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/ar_SA/pgadmin3.mo" />
        </Component>
    </Directory>
    <Directory Id="i18n_ca_ES" Name="ca_ES">
        <Component Id="i18n_ca_ES" Guid="A04436F1-073E-4434-88C0-97C0BE43EECD">
            <File Id="i18n_ca_ES.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/ca_ES/pgadmin3.mo" />
            <File Id="i18n_ca_ES.wxstd.mo" Name="wxstd.mo" DiskId="1" src="../../i18n/ca_ES/wxstd.mo" />
        </Component>
    </Directory>
<!--    <Directory Id="i18n_da_DK" Name="da_DK">
        <Component Id="i18n_da_DK" Guid="5747D673-4230-41D7-9738-C4B11A265C03">
            <File Id="i18n_da_DK.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/da_DK/pgadmin3.mo" />
            <File Id="i18n_da_DK.wxstd.mo" Name="wxstd.mo" DiskId="1" src="../../i18n/da_DK/wxstd.mo" />
        </Component>
    </Directory> --> 
    <Directory Id="i18n_de_DE" Name="de_DE">
        <Component Id="i18n_de_DE" Guid="70924031-398F-4B58-ABB4-603CAA1FC05D">
            <File Id="i18n_de_DE.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/de_DE/pgadmin3.mo" />
            <File Id="i18n_de_DE.wxstd.mo" Name="wxstd.mo" DiskId="1" src="../../i18n/de_DE/wxstd.mo" />
        </Component>
    </Directory>
<!--    <Directory Id="i18n_el_GR" Name="el_GR">
        <Component Id="i18n_el_GR" Guid="5D6FA5BB-04B9-47FC-BE2E-3C35F3BA3398">
            <File Id="i18n_el_GR.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/el_GR/pgadmin3.mo" />
            <File Id="i18n_el_GR.wxstd.mo" Name="wxstd.mo" DiskId="1" src="../../i18n/el_GR/wxstd.mo" />
        </Component>
    </Directory> -->
    <Directory Id="i18n_es_ES" Name="es_ES">
        <Component Id="i18n_es_ES" Guid="45A9E478-71C6-42C9-8082-AC4119376A65">
            <File Id="i18n_es_ES.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/es_ES/pgadmin3.mo" />
            <File Id="i18n_es_ES.wxstd.mo" Name="wxstd.mo" DiskId="1" src="../../i18n/es_ES/wxstd.mo" />
        </Component>
    </Directory>
    <Directory Id="i18n_fi_FI" Name="fi_FI">
        <Component Id="i18n_fi_FI" Guid="F2AE20BA-B2CB-4491-8EC6-3C058CEBF3BA">
            <File Id="i18n_fi_FI.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/fi_FI/pgadmin3.mo" />
            <File Id="i18n_fi_FI.wxstd.mo" Name="wxstd.mo" DiskId="1" src="../../i18n/fi_FI/wxstd.mo" />
        </Component>
    </Directory>
    <Directory Id="i18n_fr_FR" Name="fr_FR">
        <Component Id="i18n_fr_FR" Guid="DFFCEFD9-4C35-4D83-84D8-EBCDF53A0918">
            <File Id="i18n_fr_FR.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/fr_FR/pgadmin3.mo" />
            <File Id="i18n_fr_FR.wxstd.mo" Name="wxstd.mo" DiskId="1" src="../../i18n/fr_FR/wxstd.mo" />
        </Component>
    </Directory>
<!--    <Directory Id="i18n_hu_HU" Name="hu_HU">
        <Component Id="i18n_hu_HU" Guid="72A2FE2B-B1A0-4D1E-85A3-58E6194D23F5">
            <File Id="i18n_hu_HU.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/hu_HU/pgadmin3.mo" />
            <File Id="i18n_hu_HU.wxstd.mo" Name="wxstd.mo" DiskId="1" src="../../i18n/hu_HU/wxstd.mo" />
        </Component>
    </Directory> -->
<!--    <Directory Id="i18n_id_ID" Name="id_ID">
        <Component Id="i18n_id_ID" Guid="29A923F5-F0C7-443F-B384-35888D98BEA6">
            <File Id="i18n_id_ID.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/id_ID/pgadmin3.mo" />
            <File Id="i18n_id_ID.wxstd.mo" Name="wxstd.mo" DiskId="1" src="../../i18n/id_ID/wxstd.mo" />
        </Component>
    </Directory> -->
<!--    <Directory Id="i18n_it_IT" Name="it_IT">
        <Component Id="i18n_it_IT" Guid="E161DD45-4BAD-452F-A1FB-1DBBF43D75C4">
            <File Id="i18n_it_IT.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/it_IT/pgadmin3.mo" />
            <File Id="i18n_it_IT.wxstd.mo" Name="wxstd.mo" DiskId="1" src="../../i18n/it_IT/wxstd.mo" />
        </Component>
    </Directory> -->
    <Directory Id="i18n_ja_JP" Name="ja_JP">
        <Component Id="i18n_ja_JP" Guid="A158CCC8-03B8-4E17-B5E3-7EB66D8E73E1">
            <File Id="i18n_ja_JP.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/ja_JP/pgadmin3.mo" />
            <File Id="i18n_ja_JP.wxstd.mo" Name="wxstd.mo" DiskId="1" src="../../i18n/ja_JP/wxstd.mo" />
        </Component>
    </Directory>
<!--    <Directory Id="i18n_lv_LV" Name="lv_LV">
        <Component Id="i18n_lv_LV" Guid="75821EC1-7688-455A-9101-A217F1518025">
            <File Id="i18n_lv_LV.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/lv_LV/pgadmin3.mo" />
        </Component>
    </Directory> -->
    <Directory Id="i18n_nl_NL" Name="nl_NL">
        <Component Id="i18n_nl_NL" Guid="3FC6F591-05E4-4BC8-82E2-43CB89827D22">
            <File Id="i18n_nl_NL.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/nl_NL/pgadmin3.mo" />
            <File Id="i18n_nl_NL.wxstd.mo" Name="wxstd.mo" DiskId="1" src="../../i18n/nl_NL/wxstd.mo" />
        </Component>
    </Directory>
    <Directory Id="i18n_pl_PL" Name="pl_PL">
        <Component Id="i18n_pl_PL" Guid="DF0B6225-505B-4E61-887D-32964FA26A98">
            <File Id="i18n_pl_PL.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/pl_PL/pgadmin3.mo" />
            <File Id="i18n_pl_PL.wxstd.mo" Name="wxstd.mo" DiskId="1" src="../../i18n/pl_PL/wxstd.mo" />
        </Component>
    </Directory>
<!--    <Directory Id="i18n_pt_PT" Name="pt_PT">
        <Component Id="i18n_pt_PT" Guid="ED1A9DF8-E6E1-4FA8-BDCE-857EB0FEE09F">
            <File Id="i18n_pt_PT.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/pt_PT/pgadmin3.mo" />
        </Component>
    </Directory> -->
<!--    <Directory Id="i18n_ru_RU" Name="ru_RU">
        <Component Id="i18n_ru_RU" Guid="C7B35F6D-38C3-4522-AE73-289F0EF28966">
            <File Id="i18n_ru_RU.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/ru_RU/pgadmin3.mo" />
            <File Id="i18n_ru_RU.wxstd.mo" Name="wxstd.mo" DiskId="1" src="../../i18n/ru_RU/wxstd.mo" />
        </Component>
    </Directory> -->
<!--    <Directory Id="i18n_sk_SK" Name="sk_SK">
        <Component Id="i18n_sk_SK" Guid="BE08DDDB-CD60-403B-824A-E65B751169E4">
            <File Id="i18n_sk_SK.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/sk_SK/pgadmin3.mo" />
        </Component>
    </Directory> -->
    <Directory Id="i18n_sl_SI" Name="sl_SI">
        <Component Id="i18n_sl_SI" Guid="C73E6A90-0B0D-4ECF-A9F6-7269B6CC21DF">
            <File Id="i18n_sl_SI.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/sl_SI/pgadmin3.mo" />
            <File Id="i18n_sl_SI.wxstd.mo" Name="wxstd.mo" DiskId="1" src="../../i18n/sl_SI/wxstd.mo" />
        </Component>
    </Directory>
<!--    <Directory Id="i18n_sr_YU" Name="sr_YU">
        <Component Id="i18n_sr_YU" Guid="F762B4A0-4685-4A80-8753-3256BFF4487A">
            <File Id="i18n_sr_YU.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/sr_YU/pgadmin3.mo" />
        </Component>
    </Directory> -->
    <Directory Id="i18n_tr_TR" Name="tr_TR">
        <Component Id="i18n_tr_TR" Guid="CA9BEAC9-4EC5-4502-95FD-688625E0CAC2">
            <File Id="i18n_tr_TR.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/tr_TR/pgadmin3.mo" />
            <File Id="i18n_tr_TR.wxstd.mo" Name="wxstd.mo" DiskId="1" src="../../i18n/tr_TR/wxstd.mo" />
        </Component>
    </Directory>
<!--    <Directory Id="i18n_zh_CN" Name="zh_CN">
        <Component Id="i18n_zh_CN" Guid="A07BDC01-EDAB-4582-B752-622F2C57617A">
            <File Id="i18n_zh_CN.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/zh_CN/pgadmin3.mo" />
            <File Id="i18n_zh_CN.wxstd.mo" Name="wxstd.mo" DiskId="1" src="../../i18n/zh_CN/wxstd.mo" />
        </Component>
    </Directory> -->
    <Directory Id="i18n_zh_TW" Name="zh_TW">
        <Component Id="i18n_zh_TW" Guid="F04AC409-AF3B-4DB9-9AEA-25AC8ACC6018">
            <File Id="i18n_zh_TW.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" src="../../i18n/zh_TW/pgadmin3.mo" />
            <File Id="i18n_zh_TW.wxstd.mo" Name="wxstd.mo" DiskId="1" src="../../i18n/zh_TW/wxstd.mo" />
        </Component>
    </Directory>

</Include>
