<?xml version="1.0" encoding="UTF-8" ?>
<Include>

    <Directory Id="i18n_af_ZA" Name="af_ZA">
        <Component Id="i18n_af_ZA" Guid="{7155E1A1-DA03-4AE2-B959-9A5D58D3D9F5}">
            <File Id="i18n_af_ZA.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/af_ZA/pgadmin3.mo" />
            <File Id="i18n_af_ZA.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/af_ZA/wxstd.mo" />
        </Component>
    </Directory>
<!--    <Directory Id="i18n_ar_SA" Name="ar_SA">
        <Component Id="i18n_ar_SA" Guid="{1A99BE41-1FC1-4918-96BF-0DC0D0DE27F2}">
            <File Id="i18n_ar_SA.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/ar_SA/pgadmin3.mo" />
            <File Id="i18n_ar_SA.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/ar_SA/wxstd.mo" />
        </Component>
    </Directory> -->
<!--    <Directory Id="i18n_bg_BG" Name="bg_BG">
        <Component Id="i18n_bg_BG" Guid="{31A99FB7-CE2F-4510-863E-100659E14F7A}">
            <File Id="i18n_bg_BG.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/bg_BG/pgadmin3.mo" />
            <File Id="i18n_bg_BG.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/bg_BG/wxstd.mo" />
        </Component>
    </Directory> -->
    <Directory Id="i18n_ca_ES" Name="ca_ES">
        <Component Id="i18n_ca_ES" Guid="{B00DF251-718E-4003-8C44-D3D37F9AB43C}">
            <File Id="i18n_ca_ES.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/ca_ES/pgadmin3.mo" />
            <File Id="i18n_ca_ES.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/ca_ES/wxstd.mo" />
        </Component>
    </Directory>
    <Directory Id="i18n_cs_CZ" Name="cs_CZ">
        <Component Id="i18n_cs_CZ" Guid="{9725090B-77F4-4BBB-A951-F5CDFCFD795A}">
            <File Id="i18n_cs_CZ.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/cs_CZ/pgadmin3.mo" />
            <File Id="i18n_cs_CZ.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/cs_CZ/wxstd.mo" />
        </Component>
    </Directory>
<!--    <Directory Id="i18n_da_DK" Name="da_DK">
        <Component Id="i18n_da_DK" Guid="{B01384C1-A6AE-43A2-A1B4-DD23B89FF111}">
            <File Id="i18n_da_DK.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/da_DK/pgadmin3.mo" />
            <File Id="i18n_da_DK.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/da_DK/wxstd.mo" />
        </Component>
    </Directory> --> 
    <Directory Id="i18n_de_DE" Name="de_DE">
        <Component Id="i18n_de_DE" Guid="{56B44D64-00AE-4FED-AFF8-E4FE137AB31E}">
            <File Id="i18n_de_DE.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/de_DE/pgadmin3.mo" />
            <File Id="i18n_de_DE.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/de_DE/wxstd.mo" />
        </Component>
    </Directory>
<!--    <Directory Id="i18n_el_GR" Name="el_GR">
        <Component Id="i18n_el_GR" Guid="{C11A6001-46A8-4D48-A1BA-B1DE3397FCD3}">
            <File Id="i18n_el_GR.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/el_GR/pgadmin3.mo" />
            <File Id="i18n_el_GR.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/el_GR/wxstd.mo" />
        </Component>
    </Directory> -->
    <Directory Id="i18n_es_ES" Name="es_ES">
        <Component Id="i18n_es_ES" Guid="{232EE34F-7983-428A-89BE-68442FD18828}">
            <File Id="i18n_es_ES.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/es_ES/pgadmin3.mo" />
            <File Id="i18n_es_ES.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/es_ES/wxstd.mo" />
        </Component>
    </Directory>
    <!-- <Directory Id="i18n_fi_FI" Name="fi_FI">
        <Component Id="i18n_fi_FI" Guid="{BBFD7E11-68B5-4389-9310-CA3511B3DAC3}">
            <File Id="i18n_fi_FI.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/fi_FI/pgadmin3.mo" />
            <File Id="i18n_fi_FI.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/fi_FI/wxstd.mo" />
        </Component>
    </Directory> -->
    <Directory Id="i18n_fr_FR" Name="fr_FR">
        <Component Id="i18n_fr_FR" Guid="{D8293C07-D5E4-4C08-9661-4E84A9DAF374}">
            <File Id="i18n_fr_FR.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/fr_FR/pgadmin3.mo" />
            <File Id="i18n_fr_FR.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/fr_FR/wxstd.mo" />
        </Component>
    </Directory>
    <!-- <Directory Id="i18n_gl_ES" Name="gl_ES">
        <Component Id="i18n_gl_ES" Guid="{DCDB2571-7333-4964-B451-84DBB78E4DDF}">
            <File Id="i18n_gl_ES.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/gl_ES/pgadmin3.mo" />
            <File Id="i18n_gl_ES.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/gl_ES/wxstd.mo" />
        </Component>
    </Directory> -->
<!--    <Directory Id="i18n_hu_HU" Name="hu_HU">
        <Component Id="i18n_hu_HU" Guid="{000257F5-88C6-4BF6-8C58-420B24DC54AA}">
            <File Id="i18n_hu_HU.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/hu_HU/pgadmin3.mo" />
            <File Id="i18n_hu_HU.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/hu_HU/wxstd.mo" />
        </Component>
    </Directory> -->
<!--    <Directory Id="i18n_id_ID" Name="id_ID">
        <Component Id="i18n_id_ID" Guid="{4DB59647-97DF-4994-84AA-707740BA9580}">
            <File Id="i18n_id_ID.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/id_ID/pgadmin3.mo" />
            <File Id="i18n_id_ID.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/id_ID/wxstd.mo" />
        </Component>
    </Directory> -->
    <Directory Id="i18n_it_IT" Name="it_IT">
        <Component Id="i18n_it_IT" Guid="{1F6BA1E9-2DDA-4C25-88E9-B232C4CF97EB}">
            <File Id="i18n_it_IT.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/it_IT/pgadmin3.mo" />
            <File Id="i18n_it_IT.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/it_IT/wxstd.mo" />
        </Component>
    </Directory>
    <Directory Id="i18n_ja_JP" Name="ja_JP">
        <Component Id="i18n_ja_JP" Guid="{5DA24546-720F-42F5-AF12-658C45B6D240}">
            <File Id="i18n_ja_JP.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/ja_JP/pgadmin3.mo" />
            <File Id="i18n_ja_JP.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/ja_JP/wxstd.mo" />
        </Component>
    </Directory>
    <Directory Id="i18n_lv_LV" Name="lv_LV">
        <Component Id="i18n_lv_LV" Guid="{240EDF5D-8344-44CB-B747-082DF4B35C50}">
            <File Id="i18n_lv_LV.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/lv_LV/pgadmin3.mo" />
            <File Id="i18n_lv_LV.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/lv_LV/wxstd.mo" />
        </Component>
    </Directory>
    <Directory Id="i18n_ko_KR" Name="ko_KR">
        <Component Id="i18n_ko_KR" Guid="{29C3EA43-7A88-4976-BB8B-1EC714A754D2}">
            <File Id="i18n_ko_KR.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/ko_KR/pgadmin3.mo" />
            <File Id="i18n_ko_KR.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/ko_KR/wxstd.mo" />
        </Component>
    </Directory>
    <!-- <Directory Id="i18n_nl_NL" Name="nl_NL">
        <Component Id="i18n_nl_NL" Guid="{C77E9D15-B664-42D5-AFC1-AB3856D973BB}">
            <File Id="i18n_nl_NL.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/nl_NL/pgadmin3.mo" />
            <File Id="i18n_nl_NL.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/nl_NL/wxstd.mo" />
        </Component>
    </Directory> -->
    <Directory Id="i18n_pl_PL" Name="pl_PL">
        <Component Id="i18n_pl_PL" Guid="{8AB5747F-8EB4-4C55-AD18-223813DA7737}">
            <File Id="i18n_pl_PL.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/pl_PL/pgadmin3.mo" />
            <File Id="i18n_pl_PL.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/pl_PL/wxstd.mo" />
        </Component>
    </Directory>
    <!-- <Directory Id="i18n_pt_BR" Name="pt_BR">
        <Component Id="i18n_pt_BR" Guid="{970B05DD-B398-4FA6-8970-283FA9601478}">
            <File Id="i18n_pt_BR.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/pt_BR/pgadmin3.mo" />
            <File Id="i18n_pt_BR.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/pt_BR/wxstd.mo" />
        </Component>
    </Directory> -->
    <Directory Id="i18n_pt_PT" Name="pt_PT">
        <Component Id="i18n_pt_PT" Guid="{58F89839-62B7-40DF-987A-9953CBBF155A}">
            <File Id="i18n_pt_PT.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/pt_PT/pgadmin3.mo" />
            <File Id="i18n_pt_PT.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/pt_PT/wxstd.mo" />
        </Component>
    </Directory>
    <Directory Id="i18n_ru_RU" Name="ru_RU">
        <Component Id="i18n_ru_RU" Guid="{6D4A8AF7-374B-4C87-9731-C668F457BFFA}">
            <File Id="i18n_ru_RU.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/ru_RU/pgadmin3.mo" />
            <File Id="i18n_ru_RU.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/ru_RU/wxstd.mo" />
        </Component>
    </Directory>
<!--    <Directory Id="i18n_sk_SK" Name="sk_SK">
        <Component Id="i18n_sk_SK" Guid="{8A0AA766-6DFC-415F-9D25-FE70B0E586EB}">
            <File Id="i18n_sk_SK.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/sk_SK/pgadmin3.mo" />
            <File Id="i18n_sk_SK.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/sk_SK/wxstd.mo" />
        </Component>
    </Directory> -->
<!--    <Directory Id="i18n_sl_SI" Name="sl_SI">
        <Component Id="i18n_sl_SI" Guid="{D976A1A5-805C-44EF-A265-FB71C4D25C6F}">
            <File Id="i18n_sl_SI.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/sl_SI/pgadmin3.mo" />
            <File Id="i18n_sl_SI.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/sl_SI/wxstd.mo" />
        </Component>
    </Directory> -->
    <Directory Id="i18n_sr_RS" Name="sr_RS">
        <Component Id="i18n_sr_RS" Guid="{0AEF9279-1F43-44F9-AD22-00692A9AFC52}">
            <File Id="i18n_sr_RS.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/sr_RS/pgadmin3.mo" />
            <File Id="i18n_sr_RS.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/sr_RS/wxstd.mo" />
        </Component>
    </Directory>
<!--    <Directory Id="i18n_tr_TR" Name="tr_TR">
        <Component Id="i18n_tr_TR" Guid="{016F3224-7EA3-43B3-ADD8-BD65DD3C82AD}">
            <File Id="i18n_tr_TR.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/tr_TR/pgadmin3.mo" />
            <File Id="i18n_tr_TR.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/tr_TR/wxstd.mo" />
        </Component>
    </Directory> -->
    <Directory Id="i18n_zh_CN" Name="zh_CN">
        <Component Id="i18n_zh_CN" Guid="{EA9D2410-DDCE-406B-9D08-3790392A134C}">
            <File Id="i18n_zh_CN.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/zh_CN/pgadmin3.mo" />
            <File Id="i18n_zh_CN.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/zh_CN/wxstd.mo" />
        </Component>
    </Directory>
    <Directory Id="i18n_zh_TW" Name="zh_TW">
        <Component Id="i18n_zh_TW" Guid="{8ACBEEF9-4F69-455D-8514-085CBC68AD28}">
            <File Id="i18n_zh_TW.pgadmin3.mo" Name="pgadmin3.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/zh_TW/pgadmin3.mo" />
            <File Id="i18n_zh_TW.wxstd.mo" Name="wxstd.mo" DiskId="1" Source="$(var.BUILDTREE)/i18n/zh_TW/wxstd.mo" />
        </Component>
    </Directory>

</Include>
