<?xml version="1.0" encoding="UTF-8" ?>
<Include>

<!-- Styles -->

    <TextStyle Id="Arial8Bold" FaceName="Arial" Size="8" Bold="yes" />
    <TextStyle Id="Arial14" FaceName="Arial" Size="14" />
    <TextStyle Id="MSSansSerif8" FaceName="MS Sans Serif" Size="8" />

<!-- Bitmaps -->

    <Binary Id="BannerBmp" src="resources/banner.bmp" />
    <Binary Id="UpBmp" src="resources/up.bmp" />
    <Binary Id="NewBmp" src="resources/new.bmp" />
    <Binary Id="ModifyIcon" src="resources/modify.ico" />
    <Binary Id="RemoveIcon" src="resources/remove.ico" />
        
<!-- UI Text -->

    <UIText Id="AbsentPath" />
    <UIText Id="bytes">bytes</UIText>
    <UIText Id="GB">GB</UIText>
    <UIText Id="KB">KB</UIText>
    <UIText Id="MB">MB</UIText>
    <UIText Id="MenuAbsent">Entire feature will be unavailable</UIText>
    <UIText Id="MenuCD">Will be installed to run from CD</UIText>
    <UIText Id="MenuLocal">Will be installed on local hard drive</UIText>
    <UIText Id="MenuNetwork">Will be installed to run from network</UIText>
    <UIText Id="NewFolder">Fldr|New Folder</UIText>
    <UIText Id="SelAbsentAbsent">This feature will remain uninstalled</UIText>
    <UIText Id="SelAbsentCD">This feature will be installed to run from CD</UIText>
    <UIText Id="SelAbsentLocal">This feature will be installed on the local hard drive</UIText>
    <UIText Id="SelAbsentNetwork">This feature will be installed to run from the network</UIText>
    <UIText Id="SelCDAbsent">This feature will be uninstalled completely, you won't be able to run it from CD</UIText>
    <UIText Id="SelCDCD">This feature will remain to be run from CD</UIText>
    <UIText Id="SelCDLocal">This feature will change from run from CD state to be installed on the local hard drive</UIText>
    <UIText Id="SelChildCostNeg">This feature frees up [1] on your hard drive.</UIText>
    <UIText Id="SelChildCostPos">This feature requires [1] on your hard drive.</UIText>
    <UIText Id="SelLocalAbsent">This feature will be completely removed</UIText>
    <UIText Id="SelLocalCD">This feature will be removed from your local hard drive, but will be still available to run from CD</UIText>
    <UIText Id="SelLocalLocal">This feature will remain on your local hard drive</UIText>
    <UIText Id="SelLocalNetwork">This feature will be removed from your local hard drive, but will be still available to run from the network</UIText>
    <UIText Id="SelNetworkAbsent">This feature will be uninstalled completely, you won't be able to run it from the network</UIText>
    <UIText Id="SelNetworkLocal">This feature will change from run from network state to be installed on the local hard drive</UIText>
    <UIText Id="SelNetworkNetwork">This feature will remain to be run from the network</UIText>
    <UIText Id="SelParentCostNegNeg">This feature frees up [1] on your hard drive. It has [2] of [3] subfeatures selected. The subfeatures free up [4] on your hard drive.</UIText>
    <UIText Id="SelParentCostNegPos">This feature frees up [1] on your hard drive. It has [2] of [3] subfeatures selected. The subfeatures require [4] on your hard drive.</UIText>
    <UIText Id="SelParentCostPosNeg">This feature requires [1] on your hard drive. It has [2] of [3] subfeatures selected. The subfeatures free up [4] on your hard drive.</UIText>
    <UIText Id="SelParentCostPosPos">This feature requires [1] on your hard drive. It has [2] of [3] subfeatures selected. The subfeatures require [4] on your hard drive.</UIText>
    <UIText Id="VolumeCostAvailable">Available</UIText>
    <UIText Id="VolumeCostDifference">Difference</UIText>
    <UIText Id="VolumeCostRequired">Required</UIText>
    <UIText Id="VolumeCostSize">Disk Size</UIText>
    <UIText Id="VolumeCostVolume">Volume</UIText>
    <UIText Id="TimeRemaining">Time remaining: {[1] minutes }{[2] seconds}</UIText>
    <UIText Id="SelNetworkAdvertise">This feature will change from run from network state to set to be installed when required</UIText>
    <UIText Id="SelLocalAdvertise">This feature will be removed from your local hard drive, but will be set to be installed when required</UIText>
    <UIText Id="SelCostPending">Compiling cost for this feature...</UIText>
    <UIText Id="SelCDAdvertise">This feature will change from run from CD state to set to be installed when required</UIText>
    <UIText Id="SelAdvertiseNetwork">This feature will be available to run from the network</UIText>
    <UIText Id="SelAdvertiseLocal">This feature will be installed on your local hard drive</UIText>
    <UIText Id="SelAdvertiseCD">This feature will be available to run from CD</UIText>
    <UIText Id="SelAdvertiseAdvertise">Will be installed when required</UIText>
    <UIText Id="SelAdvertiseAbsent">This feature will become unavailable</UIText>
    <UIText Id="SelAbsentAdvertise">This feature will be set to be installed when required</UIText>
    <UIText Id="MenuAllNetwork">Entire feature will be installed to run from network</UIText>
    <UIText Id="MenuAllLocal">Entire feature will be installed on local hard drive</UIText>
    <UIText Id="MenuAllCD">Entire feature will be installed to run from CD</UIText>
    <UIText Id="ScriptInProgress">Gathering required information...</UIText>
    <UIText Id="MenuAdvertise">Feature will be installed when required</UIText>

<!-- Maintenance types -->

    <RadioGroup Property="MaintenanceType">
        <RadioButton Text="{&amp;MSSansBold8}&amp;Modify" Value="Modify" X="0" Y="0" Width="290" Height="14" />
        <RadioButton Text="{&amp;MSSansBold8}&amp;Remove" Value="Remove" X="0" Y="60" Width="290" Height="14" />
    </RadioGroup>
    
    <RadioGroup Property="LicenceAgreement">
        <RadioButton Text="&amp;Yes, I accept the licence terms" Value="Accept" X="0" Y="0" Width="140" Height="14" />
        <RadioButton Text="N&amp;o, I do not accept the licence terms" Value="Reject" X="140" Y="0" Width="150" Height="14" />
    </RadioGroup>
    
</Include>