[Desktop Entry]
Encoding=UTF-8
Name=pgAdmin III
Exec=/usr/local/pgadmin3/bin/pgadmin3
Icon=/usr/local/pgadmin3/share/pgadmin3/pgadmin3.xpm
Type=Application
MimeType=text/html
DocPath=/usr/local/pgadmin3/share/en_US/index.html
Comment=PostgreSQL Tools
