[Desktop Entry]
Encoding=UTF-8
Name=pgAdmin III
Exec=/usr/bin/pgadmin3
Icon=/usr/share/pgadmin3/pgadmin3.xpm
Type=Application
MimeType=text/html
DocPath=/usr/share/en_US/index.html
Comment=PostgreSQL Tools
