[Desktop Entry]
Encoding=UTF-8
Name=pgAdmin III
Exec=/usr/bin/pgadmin3
Icon=/usr/share/pgadmin3/pgAdmin3.png
Type=Application
Categories=Application;Development;
MimeType=text/html
DocPath=/usr/share/pgadmin3/docs/en_US/index.html
Comment=PostgreSQL Tools
Keywords=database;db;sql;query;administration;development;
